backend_id=sms.smsplus
language=1
overscan=0
scanline=0
gfx9000=0
disk_rom=0
machine=0
processor=0
rammapper_kb=8
megaram_kb=0
joy_map_up=16385
joy_map_down=20481
joy_map_left=16384
joy_map_right=20480
joy_map_button1=8192
joy_map_button2=8193
fm_music=1
scc_plus=0
scc_dual=0
debugger=0
audio_gain=100
#END
